# dependencies
node_modules/
.pnpm-store/

# turbo
.turbo/

# next.js
.next/
out/
next-env.d.ts

# expo / react native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# build / misc
build/
coverage/
*.tsbuildinfo
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env*.local
.env.development
.env.production
!.env.example

# vercel
.vercel
